  <!--================Hero Banner Area Start =================-->
    <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Servicios</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Servicios</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!--================Service  Area =================-->
    <section class="service-area area-padding">
        <div class="container">
            <div class="area-heading">
                <h4>¿Por qué elegir Seekmaster?</h4>
                    <h6>Nos enfocamos en áreas específicas entregando soluciones al alcance</h6>
                <p>Ya hemos trabajado con diversos clientes del rubro de la educación, transporte, entre otros. Por lo que nos adaptamos a todo tipo de empresas y sus requerimientos.</p>
            </div>
        </div> 
        <div class="container">
            <div class="row">
                <!-- Single service -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="ti-pencil-alt"></i>
                        </div>
                        <div class="service-content">
                            <h5>Diseño web</h5>
                            <p>Realizamos diseños y re diseños de sitios web adaptables para tu empresa, con estilos profesionales y actualizados</p>
                        </div>
                    </div>
                </div>

                <!-- Single service -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="ti-image"></i>
                        </div>
                        <div class="service-content">
                            <h5>Mantención web</h5>
                            <p>Entregamos mantención y mejoras a nuestros clientes, ya sean nuevos o antiguos. Respondemos a las necesidades de cada empresa </p>
                        </div>
                    </div>
                </div>


                <!-- Single service -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="ti-check"></i>
                        </div>
                        <div class="service-content">
                            <h5>Desarrollo de software</h5>
                            <p>Creamos aplicaciones para su empresa, adecuandola a las necesidades específicas que solicita</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================Service Area end =================-->
